profiles {
        standard {
                apptainer.enabled = true
                apptainer.autoMounts = false
        }
        singularity {
                singularity.enabled = true
                singularity.autoMounts = true
        }
}

process {
        container = 'docker://parmejohn/bulk_rna@sha256:be5563216c00a27a66fa49835136d1a1c3ba1397dbc234810e9800ff5532b9de'
}

