profiles {
        standard {
                apptainer.enabled = true
                apptainer.autoMounts = false
        }
}

process {
        withLabel:general_analyses {
          container = 'docker://parmejohn/bulk_rna@sha256:c0dbd97fcbee63162417296ef81111265d95241c2b0c9e4efd7e165fcda7a3f5'
        }
	withLabel:genewalk {
          container = 'docker://parmejohn/bulk_rna@sha256:c0dbd97fcbee63162417296ef81111265d95241c2b0c9e4efd7e165fcda7a3f5'
        }
        withLabel:neuroestimator {
          container = 'docker://parmejohn/neuroestimator@sha256:5810fd702018b1723ecb7ef43926a3f80fe5baaef3e5a06e98751a792962a4a8'
        }
        withLabel:neuroestimator_plot {
          container = 'docker://parmejohn/scrna_full@sha256:e8b5e935de46660172616e5c373468d6b32bf21211dd2d64f3fcceca2f09f74b'
        }
}

env {
    PYTHONPATH = "/usr/local/lib/python3.11/site-packages"
    R_LIBS_USER = "/opt/R/4.3.2/lib/R/library"
    R_LIBS = "/opt/R/4.3.2/lib/R/library"
	PYTHONHASHSEED=333
}
