profiles {
        standard {
                apptainer.enabled = true
                apptainer.autoMounts = false
        }
        singularity {
                singularity.enabled = true
                singularity.autoMounts = true
        }
}

process {
        container = 'docker://parmejohn/bulk_rna@sha256:7bdd0cf6ded0fa2af5137279e076bf67ce3f8542b874aa96e5472adc35df2a71'
}

